# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno / secretos
.env
.env.*
*.pem
*.crt
*.key

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Backups / bases exportadas
*.sql
*.zip